<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ML Classification application with Gramex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../ui/bootstrap-select/dist/css/bootstrap-select.min.css">
</head>

<body>
  {% set base = '..' %}
  {% include 'navbar.html' %}

  <!-- upload component -->
  <div class="container py-4">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <form action="upload_snippet" method="POST" enctype="multipart/form-data">
            <input name="file" type="file">
            <button type="buton" id="file_upload_btn">Submit</button>
            <input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">
            <input type="hidden" name="save" value="data.csv">
          </form>
        </div>
      </div>
    </div><!-- .card -->
  </div><!-- .container -->
  {% include 'scripts.html' %}
</body>
